
    /*share styles*/

*{font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0;padding: 0;box-sizing: border-box;}

p{font-size: 16;color: rgba(19, 19, 24, 0.70);

  font-family: Mulish;;}

.btn-primary{text-align: center;font-weight: 700;width: 174px;
  height: 52px;border-radius: 8px;
  background: #FF5400;color: #fff;display: flex;align-items: center;
gap:10px ; justify-content: center;border:none;}


    /*nav styles*/

 nav{display: flex;justify-content: space-between;
margin: 20px auto;max-width: 1140px;}

    .nav-icon{ display: flex;
  align-items: center;}

  .nav-icon img{
    width: 50px;margin-right: 10px;
  }
  .nav-icon h1{font-size:  36px;;
    color: #131318;font-weight: 800;}

    .nav-icon span{color: #FF5400;;}
  
    .nav-item ul{display: flex;}

    .nav-item li{list-style: none;
    margin: 20px;font-size: 18px;}

    .nav-item li a{text-decoration: none;color: #424247
    }
    .nav-item li span{color: #FF5400;}

    .nav-menu-icon{display: none;}




           /*Banner section style*/
  
    .banner{background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
      max-width: 1140px;height: 500PX; margin: 0 auto;
      border-radius: 16px; text-align: center; color: #fff;
      }   
    .banner h1{font-size: 55px;font-weight: 800px; padding: 100px 0 30px;}   
    .banner p{color: #fff;}
    .input-form{display:flex;
      padding: 16px;justify-content: center;
      align-items: center;width: 60%;
      gap: 24px;border-radius: 8px;
      background: rgba(255, 255, 255, 0.30);margin:50px auto;}
      .input-form input,select{width: 174px;
        height: 52px;border-radius: 8px;padding-left: 30px;
      box-sizing: border-box;}


                   /*our popular tour style*/

    .popular-tour-container{display: flex;
    max-width: 1140px; margin: 100px auto;}  
    
    .popular-tour-description {margin-right: 20px;}
    .popular-tour-description h2{color: #131318;
      font-size: 40px;margin-bottom: 30px;
      font-weight: 800;
    }
    .popular-tour-description ul{color:rgba(19, 19, 24, 0.70);
    margin:30px 15px;}
       
    .popular-tour-description ul li{padding: 10px;}

    .popular-tour-description button{margin-top: 20px;}



           /*choose your destination styles*/

    .destination-container{max-width: 1140px;margin: 50px auto;
    }  
    
    .destination-container h2{color: #131318;
      font-size: 40px;text-align: center;
      font-weight: 800; margin-bottom: 30px;}

      .destination-container p{width: 700px;margin: 0px auto 50px;
      text-align: center;}

      

      .destination-img-container >div{height: 300px;background-repeat: no-repeat;
      background-size: cover;border-radius: 10px;display: flex;justify-content: center;
    align-items: center;} 
      
  .destination-img-container h3{color: #fff;font-size: 30px;}

      .Maldives{background:url(Images/Rectangle\ 5.png) ;
      grid-column: span 2;}

      .Indonesia{background: url(Images/Rectangle\ 8.png);
      grid-column: span 2;}

      .Srilanka{background: url(Images/Rectangle\ 6.png);}

      .North-America{background: url(Images/Rectangle\ 7.png);grid-column: span 2;}

      .Kashmir{background: url(Images/Rectangle\ 9.png);}

      .Bangladesh{background: url(Images/Rectangle\ 11.png);}

      .Bandarban{background: url(Images/Rectangle\ 10.png);grid-column: span 3;}
      
      .destination-img-container img{width: 100%;background:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray -101px -108.075px / 135.253% 172.05% no-repeat; }
      .destination-img-container{display: grid;grid-template-columns: repeat(4,1fr);
      gap:10px}


                 /*why choose us ? styles*/
  .why-choose-us-container{margin: 30px auto;
  max-width: 1140px;}
      .why-choose-us-container h2{font-size: 40px;font-weight: 600;color: #131318
        ;text-align: center; margin: 30px auto;}

        .why-choose-us-container> p{text-align: center; max-width: 600px;
        margin: 10px auto;}
       
        .child-container{display: flex; margin: 50px auto; justify-content: space-between;}
        .hotels,.service,.best-price{max-width: 45%;}
        .hotels img,.service img,.best-price img{width: 30px;margin-bottom: 30px;}
        .hotels h3,.service h3,.best-price h3{margin-bottom: 20px;}
        .best-price{margin: 30px auto;}

        .hotels{border-radius: 16px;
          border: 1px solid rgba(251, 181, 99, 0.20);
          background: rgba(251, 181, 99, 0.05);padding: 40px 20px;}
          .best-price,.service{border-radius: 16px;
            border: 1px solid rgba(41, 206, 246, 0.20);
            background: rgba(41, 206, 246, 0.05);padding: 40px 20px ;}



                /*New letter section style*/

        .news-letter{max-width: 1140px; margin: 50px auto;display: flex;gap: 40px;}        
        .information-form{border: 2px solid orangered; border-radius: 10px;padding: 30px;
        height: 425px;}
        .information-form>p{margin: 20px 0px ;}
        hr{margin: 30px 8px;}
        .information-form input{display: block; max-width: 400px;padding: 20px 30px;
        margin-bottom: 30px; border-radius: 10px;border: none;background: cornsilk;
      border: 1px solid orange;}
        input[type="submit"]{color: #fff;background-color: #FF5400;}

        .travel-com-1{width:300px;background: #FF5400;padding: 30px 50px;
        color:#fff;border-radius: 10px;transform: rotate(-35deg); 
      position: relative; left: 300px;bottom: 200px;}
         
        .travel-com-2{display: none;}


              /*footer style*/
footer{max-width: 1300px;background-color: rgba(19, 19, 24, 0.05);margin: 0 auto;}
              .footer-icon{ display: flex; max-width: 200px;
                align-items: center; margin: 50px auto;padding-top: 50px;
              text-align: center;}
              
                .footer-icon img{
                  width: 50px;margin-right: 10px;
                }
                .footer-icon h1{font-size:  36px;;
                  color: #131318;font-weight: 800;}
              
                  .footer-icon span{color: #FF5400;;}
       footer p{text-align: center; margin: 20px auto;padding-bottom: 10px;} 
        
       .footer-img {max-width: 200px; text-align: center;padding: 20px 0px;margin: 0 auto;}
       .footer-img img{width: 40px;}
       footer hr{max-width: 1000px;margin: 20px auto;}




        /*Responsive for mobile device*/

    @media screen and (max-width:600px) {
      nav{padding: 10px;}
     .nav-item{display: none;}
     .nav-menu-icon{display: block;}
     .nav-menu-icon img{width: 50px; margin: 20px auto;}


     .banner{margin: 0 15px;}
     .input-form,.popular-tour-container{flex-direction: column;margin: 30px auto;}
      .banner h1,.destination-container h2{font-size: 30px;padding: 20px 10px;}


      .popular-tour-img img,.destination-img-container img{width: 100%;}
    
    .popular-tour-description,.popular-tour-img{
margin: 30px 15px;
    }

    .destination-container{margin: 30px 15px;}
     .destination-container p{max-width: 350px;}
    .destination-img-container{display: flex;
    flex-direction: column;}

    .why-choose-us-container>p{max-width: 300px;}
    .news-letter,.child-container{flex-direction: column; gap:40px}

    .hotels,.best-price,.service{max-width: 330px; margin: 0 auto;
  }
  .information-form{max-width: 320px; margin: 10px auto;height: 450px;}
  .information-img{margin: 10px auto;max-width: 320px; position: relative;}
.information-img img{width: 100%;position: relative; }
.travel-com-1{display: none;}
.travel-com-2{width:200px;background: #FF5400;padding: 20px 20px;
  color:#fff;border-radius: 10px;transform: rotate(-25deg); 
display: block;position: relative;left: 50px;bottom: 110px;}

footer{max-width: 350px;margin: 0px auto;}
footer p, footer hr{max-width: 250px;}
    
  }

  